.loader {
  border: 5px solid transparent;
  border-radius: 50%;
  // border-top: 5px solid #555;
  // border-bottom: 5px solid #555;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lightLoading {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
}

.darkLoading {
  border-top: 5px solid var(--dark-2);
  border-bottom: 5px solid var(--dark-2);
  border-left: 5px solid var(--dark-2);
}
